div#navigation {
	border: 1px solid white;
	height: 50px;
}

div#content {
	margin-top: 128px;
}

.sidebar-first #content {
	float: left;
	margin-left: 27%;
	width: 71%;
	margin-top: 45px;
}

.sidebar-first .region-sidebar-first {
	float: left;
	width: 22%;
	margin-left: -107%;
	margin-right: -20%;
}

hr#greyLine {
	float: left;
	width: 100%;
	margin-top: 8px;
	margin-bottom: 1px;
}

div#carouselContainterTop {
	margin-top: -101px;
}
