/**
 * @file
 * Handheld styling
 *
 * Created by Nolan 3-11-2013
 */

/**
 * By importing this CSS file as media "all", we allow this print file to be
 * aggregated with other stylesheets, for improved front-end performance.
 */
/* @media only screen and (max-device-width: 800px) {*/
@media all and (max-device-width: 800px) {

	article,
	aside,
	details,
	figcaption,
	figure,
	footer,
	header,
	main,
	nav,
	section,
	summary {
		display: block;
		padding: 0 5px;
	}

	header {
		//display: block;
		padding: 0 2%;
	}

	#header {
		display: none;
	}

	.inline {
		padding: 0;

		li {
		  list-style-type: none;
		  padding: 0 1em 0 0;
		}
	}

	div#logo360Main {
		//display: none;
	}

	#main-menu {
//		border: 1px solid red;
	}

	img.header__logo-image {
		width: 150px;
		height: 38px;
	}

	#navigation {
//border: 1px solid blue;
		position:absolute;
		z-index:1;
		width: 310px;
		height: 110px;
		float: left;
		background-color: white;
		padding: 0;
		margin: 5px 0 0 0 ;
//margin: -700px 0 0 0;
	}

	#navigation .links li,
	#navigation .menu li {
		display:block;
		float: none;
	}
/*
	#navigation .links, #navigation .menu {
		padding-left: 10px;
		float: right;
	}
*/
	#navigation .links a,
	#navigation .menu a {
		text-decoration: none;
		color: black;
		padding: 0;
	}
	
	hr#greyLine {
		display: none;
	}
	
	div#carouselContainterTop {
		height: 1px;
	}
	/* Nolan 16-01-2014
	* Hack to add the border at the bottom of the Carousel
	* relates to: _styles.scss line 58
	* */
	li.bxsliderLiPoint {
		border-bottom: -10px;
	}

	h1 {
		padding: 0 5px;
	}

	h2 {
		padding: 0 5px;
	}

	h3 {
		padding: 0 5px;
	}

	h4 {
		padding: 0 5px;
	}

	h5 {
		padding: 0 5px;
	}

	h6 {
		padding: 0 5px;
	}

	div.ourServiceTiles {
		//width: 100px;
		width: 32%;
	}

	img.tileImg {
		width: 100%;
		height: 30%;
	}
	
	.tileText {
		font-size: small;
	}

	#footer {
		padding: 0 5px;
	}

	div#tilesLeft {
		margin-right: 2%; 
	}
	
	ul#disclaimerTextList {
		list-style-type: disc;
		float: none;
		margin: 0;
	}
	
	div#tileGreen {
		width: 100%;
		height: 100px;
		background-image: none;
		background-color: #8cc63e;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;
	}

	div#tileRed {
		width: 100%;
		height: 100px;
		background-image: none;
		background-color: #d31346;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;
	}

	div#tileBlue {
		width: 100%;
		height: 100px;
		background-image: none;
		background-color: #00adef;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;
	}
	
	.disclaimerBullets {
		list-style-type: none;
	}
	
	div#block-system-main-menu {
		padding-top: 1px;
	}
}
