/**
 * @file
 * Handheld styling
 *
 * Created by Nolan 3-11-2013
 */

/**
 * By importing this CSS file as media "all", we allow this print file to be
 * aggregated with other stylesheets, for improved front-end performance.
 */

@media all and (max-device-width: 320px) {
  /* line 16, ../sass/_handheld.scss */

  #page {
    width: 1000px;
  }

  /* line 20, ../sass/_handheld.scss */
  div#main {
   // margin-top: 50px;
  }

  .sidebar-first #content {
    margin-top: 50px;
  }
  
  .smTileAll {
	margin-top: -79px;
  }

}
@media all and (max-device-width: 800px) {
  /* line 29, ../sass/_handheld.scss */
  #page {
    width: 1000px;
  }

  .sidebar-first #content {
    margin-top: 50px;
  }
}

@media all and (max-device-width: 1024px) {
  /* line 29, ../sass/_handheld.scss */
  #page {
    width: 1024px;
  }

  .sidebar-first #content {
    margin-top: 50px;
  }
}

@media all and (max-device-width: 1280px) {

	#page {
		width: 1280px;
	}
	
	.sidebar-first #content {
		margin-top: 50px;
	}
}
