/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";

/* HTML element (SMACSS base) rules */
@import "normalize";

/* Layout rules */
@import "layouts/responsive";

/* Component (SMACSS module) rules */
@import "components/misc";
// Optionally, add your own components here.
@import "print";
/* Nolan 3-11-2013
	 addition for the handheld styles	*/
@import "handheld";

/* SMACSS theme rules */
/* @import "theme-A"; */
/* @import "theme-B"; */

/* Nolan 07-01-2014
 * 	Float classes */
.floatRight {
	float: right;
}

.floatLeft {
	float: left;
}

/* Nolan 20-11-2013 
	 Main Home Page image */
img.imageblock-image { 
	/*margin-top: -50px;
	margin-top: -1px;*/
	background-color: #d1d3d4;
	padding: 2px 0 15px 0;
}

div#carouselContainterTop {
	margin-top: -1px;
	height: 100%;
	background-color: #d1d3d4;
	padding-top: 1px;
	/*
	height: 392px;
	padding-bottom: 1px;
	padding: 2px 0 15px 0;*/
}
/* Nolan 16-01-2014
 * Hack to add the border at the bottom of the Carousel
 * relates to: _handheld.scss line 100
 * */
li.bxsliderLiPoint {
	border-bottom: 10px solid #d1d3d4;  
}

div.region-header { 
	float: right; 
	//margin-top: 10px;
	margin-bottom: 10px;
}

hr {
	height: 0px;
	color: black;
}

a.contentLink {
	/*color: #0000cf;*/
}

a.menu__link {
	text-decoration: none;
	color: black;
}

a#logo {
    margin-top: -11px;
}

div#logo360Main {
	//float: left;
//	border: 1px solid green;
//	margin: -2% 0 0 8%;
	margin: $content-indent;
}

div#logo360 {
	display: none;
//	margin: -25px 0 0 78px;
}

/* Nolan 29-11-2013
 	 Logo block width */
div#block-block-3 {
	width: 300px;	
}

/* Nolan 9-12-2013
 * Main left hand menu styling */
 
div#block-system-main-menu {
	width: 110%;
	margin-top: 57px;
}

div.region-help {
	margin-top: 10px;
}

div#block-block-7 {
	margin-top: 68px;
}

/* Nolan Amendment 23-01-2014
 * 
 * Lastday!
 * */
hr#greyLine {
	color: #d1d3d4;
	background-color: #d1d3d4;
	border: none;
	height: 3px;
	margin-top: -1px;
}

div.bioHolder {
	width: 100%;
}

div.bioPicture {
	float: left;
	width: 139px;
	padding: 25px 15px 0 0;
}

div.bioText {
	float: left;
	width: 71%;
}

/* Nolan 10-12-2013
 * Chrome orange box fix */

set input:focus {
	outline: 0 none !important;
}

*:focus {
	outline: none;
}

.search-form {
    /*margin-bottom: 1em;*/
    margin-left: 8%;
    width: 90%;
}

p.search-info {
	display: none;
}

div#block-system-powered-by {
	font-size: small;
}

div.subImgContainer {
	/*float: right;
	margin-right: -20px;	*/
	margin: $content-indent;
}

p#ourServices {
	padding-bottom: -50px;
}

/* 
 * ENR 
 */
div.views-field {
	width: 180px;
}

table.cols-4 {
	margin-top: -10px;
	border-top: 1px solid black;
}

tr.oddTrRow {
   background: #eeeeee;
}
