/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";

/* HTML element (SMACSS base) rules */
@import "normalize";

/* Layout rules */
@import "layouts/responsive";

/* Component (SMACSS module) rules */
@import "components/misc";
// Optionally, add your own components here.
@import "print";
/* Nolan 3-11-2013
	 addition for the handheld styles	*/
@import "handheld";

/* SMACSS theme rules */
/* @import "theme-A"; */
/* @import "theme-B"; */

/* Nolan 20-11-2013 
	 Main Home Page image */
img.imageblock-image { 
	margin-top: -50px;
	background-color: #d1d3d4;
	padding: 2px 0 15px 0;
}


div.region-header { 
	float: right; 
	//margin-top: 10px;
	margin-bottom: 10px;
}

hr {
	height: 0px;
	color: black;
}

div#logo360Main {
	//float: left;
//	border: 1px solid green;
//	margin: -2% 0 0 8%;
	margin: $content-indent;
}

div#logo360 {
	display: none;
//	margin: -25px 0 0 78px;
}

/* Nolan 29-11-2013
 	 Logo block width */
div#block-block-3 {
	width: 300px;	
}

/* Nolan 9-12-2013
 * Main left hand menu styling */
 
div#block-system-main-menu {
	width: 110%;
	margin-top: 57px;
}

#content {
	margin-top: 50px;
}

div#block-block-7 {
	margin-top: 68px;
}

hr#greyLine {
	color: #d1d3d4;
	background-color: #d1d3d4;
	border: none;
	height: 2px;
}
