/**
 * @file
 * Positioning for a responsive layout.
 *
 * Define CSS classes to create a fluid grid layout with optional sidebars
 * depending on whether blocks are placed in the left or right sidebars.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */

// We are going to create a fluid grid with 1, 3, or 5 columns and 20px gutters
// between columns (applied as 10px of left/right padding on each column).
$zen-column-count:  1;
/* Nolan 20-11-2013 */
$zen-gutter-width:  0;

// If you need IE6/7 support for box-sizing: border-box (default), see _base.scss
//$zen-box-sizing: content-box;

// You can generate more efficient CSS if you manually apply the
// zen-grid-item-base mixin to all grid items from within a single ruleset.
$zen-auto-include-item-base: false;
// $zen-auto-include-flow-item-base: false;

// Suppress this section of CSS for RTL layouts since it contains no LTR-specific styles.
@if $zen-reverse-all-floats == false {

/**
 * Center the page.
 *
 * For screen sizes larger than 1200px, prevent excessively long lines of text
 * by setting a max-width.
 */
#page,
.region-bottom {
  margin-left: auto;
  margin-right: auto;
	/* Nolan 20-11-2013
  max-width: 1200px; */
  max-width: 1000px;
	background-color: white;
	//padding: 10px 50px 10px 50px;
}

/* Apply the shared properties of grid items in a single, efficient ruleset. */

#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second {
  // See the note about $zen-auto-include-item-base above.
  @include zen-grid-item-base();
}

/* Nolan 20-11-2013 */
#header, {
	padding: 10px 80px;
}
/* Nolan 22-11-2013
	 variable declared:_init.scss line:94 */
#footer, {
	padding: $content-indent;
}

/* Containers for grid items and flow items. */
#header,
#main,
#footer {
  @include zen-grid-container();
}

/* Navigation bar */
@media all and (min-width: 320px) {
  #main {
    /* Move all the children of #main down to make room. */
    padding-top: $nav-height;
    position: relative;
  }
  #navigation {
    /* Move the navbar up inside #main's padding. */
    position: absolute;
    top: 0;
    height: $nav-height;
    width: $zen-grid-width;
	/* Nolan 29-10-2013 
	background-color: #d7d7d7; */
  }
}

} // End of @if $zen-reverse-all-floats == true

/**
 * Use 3 grid columns for smaller screens.
 */
@media all and (min-width: 320px) and (max-width: 959px) {

  $zen-column-count: 3;

  /**
   * The layout when there is only one sidebar, the left one.
   */
  .sidebar-first {
    /* Span 2 columns, starting in 2nd column from left. */
    #content {
      @include zen-grid-item(2, 2);
    }

    /* Span 1 column, starting in 1st column from left. */
    .region-sidebar-first {
      @include zen-grid-item(1, 1);
    }
  }

  /**
   * The layout when there is only one sidebar, the right one.
   */
  .sidebar-second {
    /* Span 2 columns, starting in 1st column from left. */
    #content {
      @include zen-grid-item(2, 1);
    }

    /* Span 1 column, starting in 3rd column from left. */
    .region-sidebar-second {
      @include zen-grid-item(1, 3);
    }
  }

  /**
   * The layout when there are two sidebars.
   */
  .two-sidebars {
    /* Span 2 columns, starting in 2nd column from left. */
    #content {
      @include zen-grid-item(2, 2);
    }

    /* Span 1 column, starting in 1st column from left. */
    .region-sidebar-first {
      @include zen-grid-item(1, 1);
    }

    /* Start a new row and span all 3 columns. */
    .region-sidebar-second {
      @include zen-grid-item(3, 1);
      @include zen-nested-container(); // Since we're making every block in this region be a grid item.
      @include zen-clear();

      /* Apply the shared properties of grid items in a single, efficient ruleset. */
      .block {
        @include zen-grid-item-base();
      }
      /* Span 1 column, starting in the 1st column from left. */
      .block:nth-child(3n+1) {
        @include zen-grid-item(1, 1);
        @include zen-clear();
      }
      /* Span 1 column, starting in the 2nd column from left. */
      .block:nth-child(3n+2) {
        @include zen-grid-item(1, 2);
      }
      /* Span 1 column, starting in the 3rd column from left. */
      .block:nth-child(3n) {
        @include zen-grid-item(1, 3);
      }
    }
  }
}

/**
 * Use 5 grid columns for larger screens.
 */
@media all and (min-width: 960px) {

  $zen-column-count: 5;

  /**
   * The layout when there is only one sidebar, the left one.
   */
  .sidebar-first {
    /* Span 4 columns, starting in 2nd column from left. */
    #content {
      //@include zen-grid-item(4, 2);
		float: left;
		margin-left: 27%;
		margin-right: -100%;
		width: 71%;
		/* Nolan 6-1-2014
		 * margin added for left hand nav line up */
		margin-top: 50px;
    }

    /* Span 1 column, starting in 1st column from left. */
    .region-sidebar-first {
		//@include zen-grid-item(1, 1);
		float: left;
		width: 22%;
		margin-left: 0%;
		margin-right: -20%;
    }
  }

  /**
   * The layout when there is only one sidebar, the right one.
   */
  .sidebar-second {
    /* Span 4 columns, starting in 1st column from left. */
    #content {
      @include zen-grid-item(4, 1);
      border: 1px solid yellow;
    }

    /* Span 1 column, starting in 5th column from left. */
    .region-sidebar-second {
      @include zen-grid-item(1, 5);
    }
  }

  /**
   * The layout when there are two sidebars.
   */
  .two-sidebars {
    /* Span 3 columns, starting in 2nd column from left. */
    #content {
      @include zen-grid-item(3, 2);
    }

    /* Span 1 column, starting in 1st column from left. */
    .region-sidebar-first {
      @include zen-grid-item(1, 1);
    }

    /* Span 1 column, starting in 5th column from left. */
    .region-sidebar-second {
      @include zen-grid-item(1, 5);
    }
  }
}

/* Nolan 4-11-2013
 * Our Services tiles layout
 */

div#ourServiceContainer {
	color: #969595; 
	border-bottom: 1px solid #969595; 
	margin-bottom: 30px;
}

.maxWidth {
	width: 100%;
	margin-top: -10px;
	border: 1px solid white; 
	padding-right: 15px;
}

.clear {
	clear: both;
}

div.ourServiceTiles {
	width: 245px; 
	padding-bottom: 10px;
	color: white; 
	text-align: center; 
}

img.tileImg {
	border-bottom: 4px solid white;
}

div#tilesLeft {
	float: left; 
	margin-right: 52px; 
	//margin-right: 7%; 
	//background-color: #8cc63f; 
}

div#tilesCentre {
	float: left; 
	margin-right: 52px;
	//background-color: #d31245; 
}

div#tilesRight {
	float: left; 
	//background-color: #00adef; 
}

div#tileGreen {
	background-image:url('/sites/default/files/media/images/360_TileGreen1.png');
	width: 245px;
	height: 100px;
}

div#tileRed {
	background-image:url('/sites/default/files/media/images/360_TileRed1.png');
	width: 245px;
	height: 100px;
}

div#tileBlue {
	background-image:url('/sites/default/files/media/images/360_TileBlue1.png');
	width: 245px;
	height: 100px;
}

div.tileAll {
  margin-top: -107px;
  width: 245px;
  height: 77px;
}

a.tileLink {
	padding-top: 20px;
	display: block;
	height: 80%;
	color: white;
	text-decoration: none;
}

#smallTileContainer {
	margin-top: -40px;
	padding-left: 2px;
	height: 160px;
	width: 841px;
}

ul#smallTileList {
	list-style-type: none;
	margin-left: -30px;
}

li.smallTileList {
	float: left;
	margin-right: 15px;
}

li.smallTileListEnd {
	float: left;
}

.smTileAll {
	margin-top: -81px;
}

.smTileAll {
	font-size: small;
	text-align: center;
}

/* Nolan 8-12-2013
 * Disclaimer inc social media */

div#disclaimerFooter {
	margin-top: 20px; 
	padding-top: 7px; 
	width: 100%; 
	border-top: 1px solid #969595;
}

div#disclaimerText {
	float: left; 
	width: 60%; 
	font-size: x-small; 
	margin-right: 10%; 
	color: #969595;
	padding: 5px 0;
}

ul#disclaimerTextList {
	list-style-type: none;
	float: left;
	margin: 0px;
	padding: 0px;
}

li.disclaimerBullets {
	margin-top: -3px;
}

div#disclaimerSocialMedia {
	float: right; 
	width: 173px; 
	font-size: x-small;
}

div.disclaimerTile {
	float: left;
}

div.disclaimerTileLc {
	margin-right: 13px;
}

div#disclaimerFooterBorder {
	border-top: 1px solid #969595;
	width: 823px;
}
